<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI-rchitecture</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="dist/output.css" rel="stylesheet">
</head>

<body class="bg-gradient-to-b from-indigo-800 via-purple-600 to-pink-600 text-white p-5 flex flex-col gap-10">
  <div class="hidden md:flex justify-center">
    <div class="w-full xl:w-2/3 bg-black rounded-lg fixed">
      <div class="flex justify-between items-center p-2 divide-x">
        <a href="#" class="text-gray-300 hover:text-white w-1/6 text-center">HOME</a>
        <a href="#research" class="text-gray-300 hover:text-white w-1/6 text-center">RESEARCH</a>
        <a href="#work" class="text-gray-300 hover:text-white w-1/6 text-center">OUR WORK</a>
        <a href="#products" class="text-gray-300 hover:text-white w-1/6 text-center">PRODUCTS</a>
        <a href="#news" class="text-gray-300 hover:text-white w-1/6 text-center">NEWS</a>
        <a href="#contact" class="text-gray-300 hover:text-white w-1/6 text-center">CONTACT</a>
      </div>
    </div>
  </div>

  <div id="home" class="flex justify-center items-center rounded-lg">
    <div class="text-center text-white py-16 w-full xl:w-2/3">
      <h1 class="text-4xl sm:text-7xl font-bold typewriter">AI-rchitecture</h1>
      <h4 class="mt-4 text-2xl">Create something that matters!</h4>
    </div>
  </div>

  <div id="research" class="flex justify-center items-center gap-5 flex-col">
    <span class="text-4xl text-primary">RESEARCH</span>
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-5 overflow-x-auto w-full xl:w-2/3">
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Research 1</h2>
        <p class="mt-2">
          Description for research 1.
        </p>
      </div>
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Research 2</h2>
        <p class="mt-2">
          Description for research 2.
        </p>
      </div>
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Research 3</h2>
        <p class="mt-2">
          Description for research 3.
        </p>
      </div>
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Research 4</h2>
        <p class="mt-2">
          Description for research 4.
        </p>
      </div>
    </div>
  </div>

  <div id="work" class="flex justify-center items-center gap-5 flex-col">
    <span class="text-4xl text-primary">Our Work</span>
    <div class="grid grid-cols-2 gap-5 overflow-x-auto w-full xl:w-2/3">
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Work 1</h2>
        <p class="mt-2">
          Description for work 1.
        </p>
      </div>
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Work 2</h2>
        <p class="mt-2">
          Description for work 2.
        </p>
      </div>
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Work 3</h2>
        <p class="mt-2">
          Description for work 3.
        </p>
      </div>
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Work 4</h2>
        <p class="mt-2">
          Description for work 4.
        </p>
      </div>
    </div>
  </div>

  <div id="products" class="flex justify-center items-center gap-5 flex-col">
    <span class="text-4xl text-primary">PRODUCTS</span>
    <div class="grid grid-cols-3 gap-5 overflow-x-auto w-full xl:w-2/3">
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Product 1</h2>
        <p class="mt-2">
          Description for product 1.
        </p>
      </div>
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Product 2</h2>
        <p class="mt-2">
          Description for product 2.
        </p>
      </div>
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Product 3</h2>
        <p class="mt-2">
          Description for product 3.
        </p>
      </div>
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Product 4</h2>
        <p class="mt-2">
          Description for product 4.
        </p>
      </div>
    </div>
  </div>

  <div id="news" class="flex justify-center items-center gap-5 flex-col">
    <span class="text-4xl text-primary">NEWS</span>
    <div class="grid grid-cols-4 gap-5 overflow-x-auto w-full xl:w-2/3 h-96">
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Topic 1</h2>
        <p class="mt-2">
          Description for Topic 1.
        </p>
      </div>
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Topic 2</h2>
        <p class="mt-2">
          Description for Topic 2.
        </p>
      </div>
      <div class="bg-gray-800 p-8 rounded-lg flex-1">
        <h2 class="text-2xl font-semibold">Topic 3</h2>
        <p class="mt-2">
          Description for Topic 3.
        </p>
      </div>
    </div>
  </div>

  <footer class="flex justify-center text-center">
    <div class="w-full xl:w-2/3 bg-gray-800 py-8 px-4 rounded-lg grid grid-cols-4 gap-5">
      <button class="hover:bg-gray-700 rounded-lg p-4 flex flex-row gap-2 justify-center items-center">
        <img src="../../icons/briefcase.svg" alt="Briefcase Icon">
        <h2 class="text-2xl font-semibold">Company</h2>
      </button>
      <button class="hover:bg-gray-700 rounded-lg p-4 flex flex-row gap-2 justify-center items-center">
        <img src="../../icons/archive.svg" alt="Archive Icon">
        <h2 class="text-2xl font-semibold">Research</h2>
      </button>
      <button class="hover:bg-gray-700 rounded-lg p-4 flex flex-row gap-2 justify-center items-center">
        <img src="../../icons/phone.svg" alt="Phone Icon">
        <h2 class="text-2xl font-semibold">Contact us</h2>
      </button>
      <button class="hover:bg-gray-700 rounded-lg p-4 flex flex-row gap-2 justify-center items-center">
        <img src="../../icons/code.svg" alt="Code Icon">
        <h2 class="text-2xl font-semibold">Products</h2>
      </button>
    </div>
  </footer>
</body>
</html>
